<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
      

    <h1>PLS UPLOAD A FILE!</h1>
    <form action="/file" method="post" enctype="multipart/form-data">
        <label for="filename">FILENAME</label>
        <input type="text" name="filename">
        <br>
        <label for="file">FILE</label>
        <input type="file" name="file">
        <br>
        <button type="submit">UPLOAD</button>
    </form>

    <% if (locals.file) {%>
    <% for (const file of files) { %>

    <h1>File Details</h1>
    <p>File Name: <%= file.filename %></p>
    <p>File Size: <%= file.filesize %> bytes</p>
    <p>Upload Time: <%= file.createdAt %></p>
    <p>Folder: <%= folderName %></p>

    <button>
       <a href="/file/<%= (file.id) %>/download">Download File</a>
    </button>
    <% } %>
    <% } %>
    
</body>
</html>